# Core do framework
Django==6.1
djangorestframework==3.18.0

# Banco de dados (Postgres / Neon)
psycopg2-binary==2.9.12
dj-database-url==3.1.2

# Redis (Upstash)
django-redis==7.0.0
redis==8.1.0

# QR Code
qrcode==8.2
pillow==12.3.0

# Variáveis de ambiente
python-dotenv==1.2.3

# Testes
pytest==9.1.1
pytest-django==4.14.0
factory-boy==3.3.3